@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sekuya", system-ui;
  background-color: #f7e7ff;
}

.movie {
  display: none !important;
}

.container {
  padding: 56px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.purple {
    color: #c46af4;
}
.big {
    font-size: 48px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*

 Navbar

 */

nav {
  display: flex;
  height: 80px;
  background-color: #ecc9ff;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
 background-color: #ecc9ff;
}

.nav__title {
  text-align: center;
  font-size: 24px;
  background-color: #ecc9ff;
}

.nav__list {
  display: flex;
  gap: 20px;
  background-color: #ecc9ff;
}

.nav__link {
  color: #000000;
  font-size: 18px;
  transition: all 0.2s ease;
  background-color: #ecc9ff;
}

.nav__link:hover {
  color: #7a1e9c;
}

/*

    Landing Page
    
*/

.landing__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 40px;
}
.landing__title {
    font-size: 36px;
    padding: 20px;
}
.landing__para {
    font-size: 20px;
    color: #343333;
    padding: 16px 0;
}

.search__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
input {
    padding: 10px;
    width: 500px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.search__btn {
    padding: 10px;
    max-width: 100px;
    align-self: center;
    background-color: #c46af4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search__btn:hover {
    background-color: #a23bd9;
    color: white;
}
.search__btn:active {
    background-color: #7a1e9c;
}
input:focus {
    border-color: #7a1e9c;
    outline: none;
}

.landing__photo {
    width: stretch;
    max-width: 1200px;
    height: auto;
    background-color: #f7e7ff;
}

/*

    Movie List
    
*/

/* Movie Data */

.movie {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.movie__info {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Footer */

footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}